/* Global classes */

:root {
  --title-text-color-primary: #2e2f42;
  --title-text-color-secondary: #434455;
  --primary-btn-bg-color: #4d5ae5;
  --secondary-btn-bg-color: #e7e9fc;
  --primary-btn-color: #ffffff;
  --secondary-btn-color: #4d5ae5;
}

a {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.02em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

.list {
  list-style-type: none;
}

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

/* NAVIGATION */

.main-nav {
  display: flex;
  align-items: center;
  height: 72px;
}

.nav-title {
  display: flex;
  position: relative;
}

.nav-title .nav-title-list:not(:last-child) {
  margin-right: 40px;
}

.logo-contener {
  margin-right: 76px;
}

.nav-logo-text-parth-one {
  font-family: "Raleway";
  font-style: normal;
  color: #4d5ae5;
  font-size: 18px;
  line-height: 1.4;
  font-weight: 800;
  text-transform: uppercase;
}

.nav-logo-text-parth-two {
  font-family: "Raleway";
  font-style: normal;
  color: #2e2f42;
  font-size: 18px;
  line-height: 1.4;
  font-weight: 800;
  text-transform: uppercase;
}

.nav-title-list,
.nav-contact-list {
  list-style-type: none;
}

.nav-title-list-text {
  font-family: "Roboto";
  position: relative;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #2e2f42;
}

.nav-title-list-text::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  left: 0px;
  top: 40px;
  border-radius: 2px;
  bottom: -1px;
}

.nav-title-list-text.active {
  color: #404bbf;
}
.nav-title-list-text.active::after {
  background: #404bbf;
}

.nav-title-list-text:hover,
.nav-title-list-text:focus {
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); */
}

/* CONTACT */
.nav-contact {
  margin-left: auto;
  position: relative;
}

.nav-contact-content {
  display: flex;
}

.nav-contact-content .nav-contact-list:not(:last-child) {
  margin-right: 40px;
}

.nav-contact-list-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.nav-contact-list-text:hover,
.nav-contact-list-text:focus {
  color: #404bbf;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* MAIN */
/* HERO */

.hero {
  max-width: 1440px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 188px;
  padding-bottom: 188px;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office-1.jpg);
  background-size: cover;
  background-position: center;
}

/* .position-h1,
.position-button {
  display: block;
}

.position-h1 {
  display: flex;
  justify-content: center;
}

.position-button {
  margin-top: 48px;
} */

.hero-h1 {
  color: #ffffff;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.08;
  text-align: center;
  width: 496px;
  margin-left: auto;
  margin-right: auto;
}

.position-button .hero-h1 {
  margin-top: 188px;
}

.hero-startpage-btn {
  color: #ffffff;
  background-color: #4d5ae5;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 16px 32px;
  margin: 0 auto;
  margin-top: 48px;
  border-radius: 4px;
  border-style: none;
}

.hero-startpage-btn:hover,
.hero-startpage-btn:focus {
  background-color: #404bbf;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #ffffff;
  cursor: pointer;
}

/* SECTION 1 */
.section-1 {
  padding-top: 120px;
}

.section-1-h2 {
  visibility: hidden;
  display: none;
}

.position-section-1 {
  display: flex;
}

.position-section-1 > .li-width {
  width: calc((100% - 72px) / 4);
  margin-right: 24px;
}

.position-section-1 .position-icon {
  background-color: #f4f4fd;
  display: flex;
  justify-content: center;
  padding-top: 24px;
  padding-bottom: 24px;
  border-radius: 4px;
}

.antenna,
.astronaut,
.clock,
.diagram {
  width: 59.72px;
  height: 64px;
}

.position-section-1 > .li-width:nth-last-child(-n + 1) {
  margin-right: 0px;
}

.section-1-h3 {
  margin-top: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--title-text-color-primary);
}

.section-1-p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--title-text-color-secondary);
  margin-top: 8px;
}

/* SECTION 2 */

.section-2 {
  padding-top: 120px;
  padding-bottom: 120px;
}

.position-section-2 {
  display: flex;
  margin-top: 72px;
}

.position-section-2 > .li-width {
  width: calc((100% - 48px) / 3);
  margin-right: 24px;
}

.position-section-2 > .li-width:nth-last-child(-n + 1) {
  margin-right: 0px;
}

.section-2-h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--title-text-color-primary);
}

.section-2-img {
  width: 360px;
  height: 300px;
}

/* SECTION 3 */

.section-3 {
  display: flex;
  background-color: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
  margin-left: auto;
  margin-right: auto;
}

.position-section-3 {
  display: flex;
}

.position-section-3 > .li-width {
  width: calc((100% - 72px) / 4);
  margin-right: 24px;
  border: 1px solid #e7e9fc;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  background-color: #ffffff;
}

.position-section-3 > .li-width:nth-last-child(-n + 1) {
  margin-right: 0px;
}

.position-section-3 > .li-width img {
  display: block;
  margin: auto;
}

.section-3-content {
  padding: 32px 16px;
}

.section-3-h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--title-text-color-primary);
  margin-bottom: 72px;
}

.section-3-h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--title-text-color-primary);
  text-align: center;
}

.section-3-p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--title-text-color-secondary);
  margin-top: 8px;
  text-align: center;
}

.icon-socialmedia {
  display: inline-flex;
  justify-content: space-between;
  margin-top: 8px;
}

.background-li:nth-last-child(-n + 1) {
  margin-right: 0px;
}

.socialmedia-icon:hover,
.socialmedia-icon:focus {
  background-color: #404bbf;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.socialmedia-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  margin-right: 24px;
}

/* SECTION 4 */

.section-4 {
  padding-top: 120px;
  padding-bottom: 120px;
  margin-left: auto;
  margin-right: auto;
}

.section-4-h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.icon-companies {
  display: inline-flex;
  padding-top: 72px;
}

.comp-icon-svg {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 168px;
  height: 88px;
  margin-right: 24px;
  border: 1px solid #8e8f99;
  border-radius: 4px;
}

.comp-svg {
  fill: #8e8f99;
}

.comp-icon-svg:hover,
.comp-icon-svg:focus {
  border: 1px solid #404bbf;
  background-color: #ffffff;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.comp-icon-svg:hover .comp-svg,
.comp-icon-svg:focus .comp-svg {
  fill: #404bbf;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-companies-li:nth-last-child(-n + 1) {
  margin-right: 0px;
}

/* FOTTER */

.footer {
  background: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
}

.footer-position {
  display: flex;
  flex-direction: column;
}

.footer-logo-parth1 {
  font-family: "Raleway";
  font-style: normal;
  color: #4d5ae5;
  font-size: 18px;
  line-height: 1.4;
  font-weight: 800;
  text-transform: uppercase;
}

.footer-logo-parth2 {
  font-family: "Raleway";
  font-style: normal;
  color: #f4f4fd;
  font-size: 18px;
  line-height: 1.4;
  font-weight: 800;
  text-transform: uppercase;
}

.footer-p {
  width: 264px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #e7e9fc;
  margin-top: 16px;
}

.fotter-socialmedia {
  display: flex;
  padding-left: 120px;
  flex-direction: column;
}

.fotter-socialmedia-p {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.footer-ul {
  display: inline-flex;
  padding-top: 16px;
}

.fotter-socialmedia-a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #434455;
  border-radius: 50%;
  margin-right: 16px;
}

.fotter-socialmedia-a:is(:hover, :focus) {
  color: #ffffff;
  background-color: #31d0aa;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); */
}

.fotter-socialmedia-li:nth-last-child(-n + 1) {
  margin-right: 0px;
}

.flex {
  display: inline-flex;
}

/* PORTFOLIO */

/* SECTION PORTFOLIO */
/* MAIN MENU */

.section-portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
  margin-left: auto;
  margin-right: auto;
  border-top: 1px solid #e7e9fc;
}

.portfolio-btn.position {
  display: flex;
  justify-content: center;
}

.portfolio-btn {
  list-style-type: none;
}

.portfolio-btn-list {
  color: var(--secondary-btn-color);
  background-color: var(--secondary-btn-bg-color);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  cursor: pointer;
  padding: 12px 24px;
  border-radius: 4px;
  border: 1px solid #e7e9fc;
}

.portfolio-btn-list:hover,
.portfolio-btn-list:focus {
  color: var(--primary-btn-color);
  background-color: var(--primary-btn-bg-color);
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-btn > .li-width {
  margin-right: 24px;
}

.portfolio-btn > .li-width:nth-last-child(-n + 1) {
  margin-right: 0px;
}

/* MODAL WINDOW */
.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  background: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  width: 408px;
  min-height: 584px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button {
  position: absolute;
  width: 24px;
  height: 24px;
  background: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  cursor: pointer;
}

.modal-close-button:is(:hover, :focus) {
  background-color: #404bbf;
  fill: #ffffff;
  border: none;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  border: none;
}

/* PORTFOLIO PRODUCTS */

.portfolio-product-list img {
  display: block;
}

.portfolio-product-list {
  display: flex;
  flex-wrap: wrap;
  padding-top: 72px;
}

.portfolio-product-list > .li-width {
  margin-right: 24px;
  margin-bottom: 48px;
}

.portfolio-thumb {
  position: relative;
  overflow: hidden;
}

/* OVERLAY */
.overlay {
  position: absolute;
  width: 360px;
  height: 300px;
  left: 0px;
  top: 0px;
  background: #4d5ae5;
  mix-blend-mode: normal;
  transform: translateY(100%);
}

.overlay-text {
  position: absolute;
  width: 296px;
  height: 96px;
  left: 32px;
  top: 40px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.li-width:hover .overlay {
  transform: translateY(0);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-product-list .li-width:hover,
.portfolio-product-list .li-width:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-product-list > .li-width:nth-child(3n + 3) {
  margin-right: 0px;
}

.portfolio-product-list > .li-width:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.portfolio-main-h1 {
  visibility: hidden;
  display: none;
}
.portfolio-product-list-content {
  padding: 32px 0;
  border: 1px solid #e7e9fc;
  border-top: 0px;
}

.portfolio-product-list-h2 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding-left: 16px;
  padding-right: 16px;
}

.portfolio-product-list-p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
}
